<!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/MathasaurusRex" class="icon fa-NOT-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/colefichter" class="icon fa-NOT-github"><span class="label">Github</span></a></li>
                <li><a href="http://www.linkedin.com/pub/cole-fichter/4/a5/b20" class="icon fa-NOT-linkedin"><span class="label">Twitter</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Cole Fichter. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>
    </body>
</html>