<h1><a href="index.html">Erlang Tutorials</a> by Cole Fichter</h1>
<nav id="nav">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li>
            <a href="" class="icon fa-angle-down">Tutorials</a>
            <ul>
                <li>
                    <a href="">MapReduce...</a>
                    <ul>
                        <li><a href="mapreduce1">One (single-node)</a></li>
                        <li><a href="mapreduce2">Two (clustered)</a></li>
                        <li><a href="mapreduce3">Three (replication)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Key/Value Store...</a>
                    <ul>
                        <li><a href="kv1">One (in-memory)</a></li>
                        <li><a href="kv2">Two (persistent)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Distributed Hash Table...</a>
                    <ul>
                        <li><a href="dht1">One (process ring)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>