<%= partial :"partials/header" %>
<body class="landing">
<!-- Header -->
<header id="header" class="alt">
    <%= partial :"partials/menu" %>
</header>

<!-- Banner -->
<section id="banner">
    <h2>Erlang Tutorials</h2>
    <p>Easy to follow guides to building applications with Erlang and <abbr title="Open Telecom Platform">OTP</abbr>.</p>
</section>

<!-- Main -->
<section id="main" class="container">
    
    <section class="box special">
        <header class="major">
            <h2>Focused. Concise. Practical.</h2>
            <p>Browse the topics listed below to select an Erlang/OTP tutorial.
            <br />
            <em>These articles are focussed on how to build working systems in Erlang, so some familiarity of the basic language syntax is expected.
            </em></p>
        </header>
    </section>
            
    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon major fa-cogs accent2"></span>
                <h3>MapReduce</h3>
                <p>This three-part series will teach you how to build a map reduce cluster with replication and automatic fail-over.</p>
                <ul class="actions">
                    <li><a href="mapreduce1" class="button">Start Reading</a></li>
                </ul>
            </section>
            <section>
                <span class="icon major fa-cubes accent5"></span>
                <h3>Distributed Hash Table</h3>
                <p>A three-part series in which we build a peer-to-peer, scalable, distributed hash table.</p>
                <ul class="actions">
                    <li><a href="dht1" class="button">Start Reading</a></li>
                </ul>
            </section>
        </div>

        <div class="features-row">
            <section>
                <span class="icon major fa-key accent4"></span>
                <h3>Key/Value Server</h3>
                <p>In this two-part series we build a persistent key/value storage server.</p>
                <ul class="actions">
                    <li><a href="kv1" class="button">Start Reading</a></li>
                </ul>
            </section>
            <section>
                <span class="icon major fa-database accent3"></span>
                <h3>ODBC Tips</h3>
                <p>Helpful tips and programming patterns for users of Erlang ODBC with a SQL database.</p>
                <ul class="actions">
                    <li><a href="http://erlang-odbc-tips.colefichter.ca" class="button">Start Reading</a></li>
                </ul>
            </section>
        </div>

        <!--
        <div class="features-row">
            <section>
                <span class="icon major fa-cloud accent4"></span>
                <h3>Sed feugiat</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
            <section>
                <span class="icon major fa-lock accent5"></span>
                <h3>Enim phasellus</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
        </div>
        -->
    </section>
        
    <div class="row">
        <div class="6u 12u(2)">

            <section class="box special">
                <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
                <h3>About Cole Fichter</h3>
                <p>I'm a top-notch developer in Edmonton, Alberta, Canada. I work in a variety of languages, but Erlang is my favourite.</p>
                <ul class="actions">
                    <li><a href="http://www.colefichter.ca" class="button alt">Personal Website</a></li>
                </ul>
            </section>
            
        </div>
        <!--
        <div class="6u 12u(2)">

            <section class="box special">
                <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
                <h3>Accumsan integer</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </section>

        </div>
        -->
    </div>

</section>

<%= partial :"partials/footer" %>